*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    background-color: var(--styleMode-background-color) !important;
    color: var(--styleMode-color) !important;
    margin: 0;
}
/*  */
.test {
    background: linear-gradient(6deg, rgba(233, 0, 192, 1) 12%, rgba(255, 255, 0, 0.8) 81%);
}

/* mouse */
.default {
    cursor: default;
}
.user-select {
    user-select: none;
}

/* button */
.btn {
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 400;
    line-height: 1.5;
    color: var(--styleMode-background-color) !important;
    background-color: var(--styleMode-color) !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    &:hover {
        background-color: var(--thisColor, var(--hover-btn-color)) !important;
    }
    img {
        width: 20px;
        margin: 0 5px;
    }
}

[href],
[href]:visited {
    color: var(--styleMode-color);
    text-decoration: none;
    &:hover:not(.btn) {
        &.line {
            text-decoration: underline;
        }
        opacity: 0.8;
    }
}

.item-none {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1200ms ease-out, transform 600ms ease-out;
}
.active {
    opacity: 1;
    transform: none;
}

/* aria-label */
[aria-label] {
    position: relative;
    &:before {
        display: none;
        position: absolute;
        top: auto;
        right: 50%;
        bottom: -7px;
        margin-right: -5px;
        width: 0;
        height: 0;
        content: "";
        border: 5px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.9);
        pointer-events: none;
    }
    &:after {
        display: none;
        top: 100%;
        right: 50%;
        padding: 0 10px;
        border-radius: 3px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        white-space: pre;
        margin-top: 5px;
        line-height: 26px;
        content: attr(aria-label);
        transform: translateX(50%);
    }
    &:hover {
        z-index: 99999 !important;
    }
    &:hover:after,
    &:hover:before {
        display: block !important;
        opacity: 1 !important;
    }
}

/* flex */
.flex {
    display: flex;
}
.flex-item-center {
    align-items: center;
}
.flex-center {
    justify-content: center;
}
.flex-down {
    flex-direction: column;
}

/* display */
.block {
    display: block !important;
}
.none {
    display: none !important;
}

/* text */
.text-center {
    text-align: center;
}

/* overflow */
.auto-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* var */
:root {
    /* 暗色模式 */
    --styleMode-background-color: #222;
    --styleMode-color: #fff;
    --styleMode-webkit-scrollbar-thumb: #454a4d;
    --styleMode-webkit-scrollbar: #aba499;
    --styleMode-hove-background-color: rgb(93, 93, 93);
    --strong-color: orange;
    --title-color: orange;
    --hover-btn-color: rgb(171, 188, 233);
    --href-color: rgb(115, 255, 0);
    &.bright {
        /* 亮色模式 */
        --header-background-color: #6b7040;
        --hover-btn-color: rgb(73, 73, 73);
        --styleMode-background-color: #fff;
        --styleMode-color: #222;
        --styleMode-webkit-scrollbar-thumb: #aba499;
        --styleMode-webkit-scrollbar: #454a4d;
        --styleMode-hove-background-color: rgb(116, 116, 116);
        --strong-color: #ff751a;
        --title-color: rgb(140, 0, 255);
        --href-color: #0089ac;
    }
}

/* scrollbar */
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--styleMode-webkit-scrollbar-thumb);
}
::-webkit-scrollbar {
    width: 16px;
    background-color: var(--styleMode-webkit-scrollbar);
}

/* selection */
::selection {
    background-color: #004daa;
    color: #e8e6e3;
}
